@import '~bootstrap/scss/bootstrap';

$black: #000;


#message {

  font-size: 40px;
  text-align: center;

  &.success-signup {
    background-image: url("https://media1.tenor.com/images/636c85044c081d8e2dc7e9a8c0b25735/tenor.gif");
    background-size: contain;
    background-position: center;
    background-color: lavender;
  }

  &.success {
    background-color: lavender;
  }
  &.failure {
    background-color: orangered;
  }
}

// .button {
//   margin: 20px;
//   padding: 20px;
//   height: auto;
//   width: 300px;
//   display: inline-block;
//   justify-content: space-between;
//
// }
// #create-user {
//   font-size: 25px;
//   color: purple;
//   background-color: #2196F3;
//   margin-right: 25px;
//   margin-left: 40px;
//
// }
//
// #update-user {
//   font-size: 25px;
//   color: purple;
//   background-color: #2196F3;
//   margin-left: 25px;
//   marign-right: 25px;
//
// }
//
// #user-info {
//   font-size: 25px;
//   color: purple;
//   background-color: #2196F3;
//   margin-right: 25px;
//   margin-left: 25px;
// }
//
// #delete-user {
//   font-size: 25px;
//   color: purple;
//   background-color: #2196F3;
//   margin-right: 25px;
//   margin-left: 25px;
// }

#create-profile-form {
  margin-left: 30px;
  margin-right: 25px;
}

#show-user-info {
  margin-left: 30px;
  margin-right: 25px;
}

// #show-user-likes {
//  margin-left: 25px
// }

#likes-form {
  margin-left: 30px;
  margin-right: 25px;
}

.user {
  display: none;
  padding: 10px;
}

#user-profile-info {
  margin-left: 40px;
  margin-right: 60px;
  text-align: center;
}

.delete-user {
  display: none;
  padding: 10px;
}

#delete-profile {
  // margin-left: 1200px;
  margin-right: 5000px;
  margin-left: 30px;
}

.border {
  border: 10px solid $black;
  background-color: rgb(200, 200, 220);
  height: 100px auto;
  width: 650px;
  margin: 20px;
  padding: 10px;
  margin-left: 40px;
  display: inline-flex;
}

// #change-password.border {
//   display: none;
// }
//
// #sign-out.border {
//   display: none;
//   margin-left: auto;
//   margin-right: 36px;
//   margin-top: -116px;
// }

// .hidden {
//   display: none;
// }
